.total{
    margin-bottom: 35px;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}

.sum{
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}