.expense-calculator__history{
    padding-right: 200px;
}

.expense-calculator__history-header{
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}

.history{
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}